<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="The portfolio of Michael Gaskill, Full Stack and Systems Development Lead Engineer" name="description">
  <meta content="system development, web development, programming, front-end, back-end, databases, c, c++, ruby, ruby on rails, javascript, portability, performance" name="keywords">
  <meta content="Michael Gaskill" name="author">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <%= csrf_meta_tags %>
  <title>MichaelGaskill.com</title>

  <link rel="icon" type="img/png" href="/images/logo-tn.png">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/pure/0.6.2/pure-min.css">
  <script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>

<body>
  <nav class="container">
    <nav id="sidebar">
      <a href="/" class="logo"><img src="/images/logo-md.png" alt="Michael Gaskill"></a>
      <a href="/about">About</a>
      <a href="/links">Other Sites</a>
      <p>
        Work history
        <a href="/gandysoft">GandySoft</a>
      </p>
    </nav>
    <nav id="content">
      <p id="notice"><%= notice %></p>

      <ul class="logo-desc">
        <li id="logo-name">Michael Gaskill</li>
        <li id="logo-title">Full Stack and Systems Development Lead Engineer</li>
      </ul>

      <%= yield %>

    </nav>
  </nav>
</body>
</html>
