<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="The portfolio of Michael Gaskill, Full Stack and Systems Development Lead Engineer" name="description">
  <meta content="system development, web development, programming, front-end, back-end, databases, c, c++, ruby, ruby on rails, javascript, portability, performance" name="keywords">
  <meta content="Michael Gaskill" name="author">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<%= csrf_meta_tags %>
  <title>MichaelGaskill.com</title>

  <link rel="icon" type="img/png" href="images/logo-tn.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav class="container">
    <a href="/" class="logo"><img src="images/logo-md.png" alt="Michael Gaskill"></a>
    <ul class="logo-desc">
      <li id="logo-name">Michael Gaskill</li>
      <li id="logo-title">Full Stack and Systems Development Lead Engineer</li>
    </ul>
    <a href="/links">Links</a>
    <a href="/about">About</a>
  </nav>
</header>

<nav class="container">
<p id="notice"><%= notice %></p>
<%= yield %>
</nav>
</body>
</html>
